﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<div id="co" hidden>
	<img src="~/Content/utilitarios/giphy.gif"/>
</div>

<script>
	$('#co').hide().show('slow').delay(2000).hide('slow');
</script>