﻿@{
	ViewBag.Title = "Home Page";
}
<html>
<head>
	<meta charset="utf-8">
	<title>Mostrar Ventane Modal de forma Automático</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function () {
			$("#mostrarmodal").modal("show");
		});
	</script>
</head>
<body>

	@if (ViewBag.autenticado == "NO")
	{
		<div class="modal fade" id="mostrarmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						
						<p class="bg-info">Upss!! Al parecer no has iniciado sesion.</p>
					</div>
					<div class="modal-body">
						<p class="bg-warning">
							Para hacer uso de todas las funciones necesitas estar registrado</p>
							<p class="bg-warning">Inicia sesion o registrate
					     	</p>
					</div>
					<div class="modal-footer">
						<a href="#" data-dismiss="modal" class="btn btn-success">Entendido</a>
					</div>
				</div>
			</div>
		</div>
	}
	else
	{
		<h2>	@ViewBag.autenticado </h2>
	}

	
</body>
</html>