﻿@model EstructurasDatosProyecto2.Models.DirectoriosModelo
<script src="~/Content/admin-lte/js/jquery.min.js"></script>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.padre, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@if (ViewBag.listaDirectorios != null)
				{
					@Html.DropDownListFor(model => model.id, ViewBag.listaDirectorios as SelectList, "-----Seleccionar Directorio", new { @class = "form-control" })


				}

			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Guardar" class="btn btn-success" />
			</div>
		</div>
	</div>
}

<script>
	$(document).ready(function () {
		$("#id").change(function () {
			var id = $(this).val();
			$.ajax({
				type: "Post",
				url: "/Archivos/temp?id="+id,
			})


		})
	})
</script>