﻿@model EstructurasDatosProyecto2.Models.DirectoriosModelo
<script src="~/Content/admin-lte/js/jquery.min.js"></script>
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(model => model.padre, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@if (ViewBag.listaDir != null)
				{
					@Html.DropDownListFor(model => model.nombre, ViewBag.listaDir as SelectList, "-----Seleccionar Directorio", new { @class = "form-control" })

				}

			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" id="btndelete" value="Eliminar" class="btn btn-warning" />
			</div>
		</div>
	</div>
}

<script>
	$(document).ready(function () {
		$("id").dblclick(function () {
			alert("Se ha hecho doble click sobre el Div.");
		});
	});
</script>