﻿@model IEnumerable<EstructurasDatosProyecto2.Models.DirectoriosModelo>


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gestion de Archivos</title>
	<link href="~/Content/arbol/file-explore.css" rel="stylesheet" type="text/css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</style>
</head>
<body>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.nombre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.padre)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.estado)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.fecha_creacion)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.nombre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.padre)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.estado)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.fecha_creacion)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
					@Html.ActionLink("Details", "Details", new { id = item.id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.id })
				</td>
			</tr>
		}

	</table>
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}
	</style>


	<div class="container">
		<h1>Lista de Directorios</h1>
		<ul class="file-tree">
			<li>
				<a href="#">Raiz</a>
				<ul>
					<li>
						<a href="#">Raiz 2</a>
					</li>
					
				</ul>
			</li>
		</ul>
	</div>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="~/Content/arbol/file-explore.js"></script>
	<script>
$(document).ready(function() {
            $(".file-tree").filetree();
	        });
	</script>
</body>


