﻿@model IEnumerable<EstructurasDatosProyecto2.Models.ArchivoModelo>

@{
	if (Model != null)
	{

		<table class="table">
			<tr>
				<th>
					@Html.DisplayName("Nombre")
				</th>
				<th>
					@Html.DisplayName("Tipo de Archivo")
				</th>
				<th>
					@Html.DisplayName("Fecha de Creacion")
				</th>
				<th>
					@Html.DisplayName("Acciones")
				</th>
				<th></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.nombre)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.tipo)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.fecha_creacion)
					</td>
					<td>
						@Html.ActionLink("Compartir", "Delete", new { id = item.id })
						@Html.ActionLink("Descargar", "Descargar", new { id = item.id }) |
						@Html.ActionLink("Detalles", "Details", new { id = item.id }) |
						@Html.ActionLink("Eliminar", "Delete", new { id = item.id })
					</td>
				</tr>
			}

		</table>

	}
	else
	{
		<h2 style="color:red">No hay archivos en este directorio</h2>
	}

}
