﻿@model EstructurasDatosProyecto2.Models.dropboxdirectoriosModelo
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@{
    ViewBag.Title = "Eliminar Carpeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Carpeta</h2>

@if (ViewBag.listacarp != null)
{
	@Html.DropDownListFor(model => model.id, ViewBag.listacarp as SelectList, "-----Seleccionar Directorio", new { @class = "form-control" })

}

<input class="btn btn-warning" type="button" name="miboton" id="miboton" value="Eliminar" onclick="miFuncion()" />
<div id="res" style="color:green">
	<h3 style="color:green">@ViewBag.resultado</h3>
</div>

<script type="text/javascript">
	function miFuncion() {	
			var id = $("#id").val();
			$.ajax({
				type: "Post",
				url: "/Archivos/deleteDir?id=" + id,
				contentType: "html",				
								
			})
			$('#res').html('<strong><h2>La accion ha sido completada, recargue la pagina</h2></strong>');
	}
</script>

