﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<title>Bootstrap Example</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<!-- Trigger the modal with a button -->
		<div class="btn-group">
			<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Crear Directorio</button>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#mysub">Subir Archivo</button>
			<button class="btn btn-danger" onclick="location.href='@Url.Action("EliminarCarpeta", "Archivos")';return false;">Eliminar Directorio</button>
		
		</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Crear Directorio</h4>
						</div>
						<div class="modal-body">
							@{
								//se llama a la vista parcial que crea un directorio todos los directorios
								Html.RenderAction("_CrearDir", "Archivos");
							}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
						</div>
					</div>

				</div>
			</div>

		</div>



	<div class="container">
		<div class="row">
			<div id="jstree-tree" class="well col-sm-3"></div>
			<div id="jstree-result" class="col-sm-6">
					<h4>Lista de Archivos en este directorio</h4>
					<div id="act">

					</div>

				</div>
		</div>
	</div>

	<div id="act">

	</div>

</body>
<script>
	var idDatos;
	$(function () {
		$('#jstree-tree').jstree({
			'core': {
				'data': {
						"url": "@Url.Action("llamarjson", "Archivos")",
					"dataType": "json" // needed only if you do not supply JSON headers
				}
			}
		});
	});
	$(function () {
		$('#jstree-tree')
			.on('changed.jstree', function (e, data) {
				var objNode = data.instance.get_node(data.selected);
				$('#jstree-result').html('Detalles del Directorio: <br/><strong>' + 'Id Del Directorio:   ' + objNode.id + '<br/> Nombre Directorio: ' + objNode.text +'</strong>');
				idDatos = objNode.id;
				$.ajax({
					type: "Get",
					url: "/Archivos/_solicitudArchivo?idDatos=" + idDatos,
					contentType: "html",
					success: function (response) {
						$("#act").html(response);
					}
				})
			})

	});

	
	$(function () {
		$("#jstree-resul").change(function () {
			var id = $(this).val();
			$.ajax({
				type: "Get",
				url: "/Archivos/_solicitudArchivo?idDatos=" + idDatos,
				contentType: "html",
				success: function (response) {
					$("#act").html(response);
				}
			})


		})
	})

</script>